html {
	height: 100%;
}
body {
	min-height: 100%;
	margin: 0px;
	display: flex;
	justify-content: center;
	background-color: antiquewhite;
	overflow-y: overlay;
	font-family: Arial, Helvetica, sans-serif;
}

.main {
	width: 100%;
	max-width: 700px;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.header {
	background-color: #b5f392;
	min-height: 40px;
	flex-shrink: 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
    position: sticky;
    top: 0px;
	z-index: 2;
}
@media screen and (min-width: 700px) {
	.header {
		border-radius: 0px 0px 10px 10px;
	}
	.send-button {
		border-radius: 0px 0px 10px 0px;
	}
}
.title {
	font-size: 25px;
	text-align: center;
	margin-right: 5px;
	flex-grow: 1;
}
.send-button {
	font-size: 16px;
	height: 100%;
	width: 6em;
	box-sizing: border-box;
	border: 0px;
	background-color: #6ae700;
	outline: none;
}
.send-button:hover, .send-button:focus {
	text-decoration: underline;
}
.send-button:active {
	background-color: #5fcc00;
}

.body {
	flex-grow: 1;
	padding: 10px;
}
.text {
	font-size: large;
}
.marginTop {
	margin-top: 10px;
}
.sub-text {
	font-size: small;
}
textarea {
	width: 100%;
	min-height: 1.6em;
	height: 2.65em;
	outline: none;
	margin-top: 10px;
	resize: vertical;
	font-size: large;
	border-radius: 5px;
	box-sizing: border-box;
	max-height: 70vh;
}
textarea:focus {
	box-shadow: 0px 0px 3px blue;
}

.creator-body {
	margin-top: 0px;
}
.creator-body .creator-body .creator-body {
	margin-left: 20px;
}
.creators-level1 .creator-body + .creator-body {
	margin-top: 0px;
}
.creator-body + .creator-body {
	margin-top: 30px;
}
.creators {
	margin-top: 10px;
}
.creators-level0 {
	margin-top: 20px;
	margin-bottom: 20px;
}
.creators-level1 {
	border-left: 2px solid #00bc00;
    border-radius: 5px;
}
.creator-titlediv {
	display: flex;
	align-items: center;
}
.creator-titlediv .text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
	width: 100%;
}
.creator-input + .text {
	margin-top: 10px;
}
.creator-colapsed > .creator-subBody {
	display: none;
}
.creator-button-add, .creator-button-remove {
	width: 100%;
	user-select: none;
	border: 1px solid grey;
	border-radius: 3px;
	outline: none;
	text-decoration-skip-ink: none;
}
.creator-button-add {
	background-color: #8af94b;
	margin-top: 5px;
}
.creator-removeDiv {
	display: flex;
	justify-content: flex-end;
	margin-top: 5px;
}
.creator-button-remove {
	background-color: #ff8670;
	border-radius: 5px 5px 0px 0px;
	border-bottom: 0px;
	display: block;
	width: 8em;
}
.creator-button-remove + .text {
	margin-top: 10px;
}
.creator-body:only-child > .creator-subBody > .creator-removeDiv > .creator-button-remove {
	display: none;
}
.creator-body:only-child > .creator-subBody > .creator-input > textarea {
	border-radius: 5px 5px 5px 5px;
}
.creator-botton-add {
	display: flex;
}
.creators-level0 .creator-botton-add {
	margin-left: 22px;
}
.creator-button-add:hover, .creator-button-remove:focus, .creator-button-add:hover, .creator-button-remove:focus {
	text-decoration: underline;
}
.creator-button-add:active {
	background-color: #5fcc00;
}
.creator-button-remove:active {
	background-color: #fd6347;
}
.creators-level0 .creator-input {
	position: sticky;
	top: 40px;
	background-color: antiquewhite;
	display: flex;
}
.creators-level0 textarea {
	border-radius: 5px 0px 5px 5px;
	margin-top: 0px;
}
.creators-level1 .creator-input {
	position: unset;
}
.button-colapse {
	font-size: large;
	margin-right: 5px;
	width: 25px;
	height: 25px;
	padding: 0px;
	vertical-align: middle;
	flex-shrink: 0;
	border-radius: 8px;
	border: 1px solid gray;
	background-color: #efefef;
}
.button-colapse:focus, .button-colapse:hover {
	background-color: #dddddd;
}
.button-colapse:active {
	background-color: #f1f1f1;
}
.emptyfield {
	box-shadow: 0px 0px 10px 2px red;
}


.popup {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	z-index: 10;
}
.popup-show {
	visibility: visible;
}
.popup-container {
	position: relative;
	width: 100%;
	box-sizing: border-box;
	max-width: 600px;
	min-height: 300px;
	max-height: 100%;
	background-color: antiquewhite;
	border: 10px solid #b5f392;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
}
.popup-header {
	font-size: 25px;
    text-align: center;
	margin: 8px 35px 0px 35px;
}
.popup-button-send, .popup-button-clear {
	min-height: 1.5em;
	user-select: none;
	cursor: pointer;
	border: none;
	outline: none;
}
.popup-button-clear {
	background-color: #ff8670;
	flex-grow: 1;
}
.popup-button-send {
	background-color: #6ae700;
	flex-grow: 10;
}
.popup-footer button:hover, .popup-footer button:focus {
	text-decoration: underline;
}
.popup-button-send:active {
	background-color: #5fcc00;
}
.popup-button-clear:active {
	background-color: #fd6347;
}
.popup-footer, .popup-header {
	display: flex;
	justify-content: center;
	align-items: center;
}
.popup-body {
	flex: 1 1 auto;
	overflow-y: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 0px 20px 0px 20px;
}
.popup-close {
	position: absolute;
	right: 6px;
	top: 6px;
	background-color: tomato;
	width: 27px;
	height: 27px;
	border-radius: 8px;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 25px;
	cursor: pointer;
	user-select: none;
	outline: none;
}
.popup-close:hover {
	box-shadow: 0px 0px 4px black;
}
.popup-close:active {
	box-shadow: inset 0px 0px 5px -1px black;
}

.popup-confirm-container {
	width: 100%;
	box-sizing: border-box;
	max-width: 400px;
	min-height: 180px;
	max-height: 100%;
	background-color: antiquewhite;
	border: 10px solid #b5f392;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	padding: 10px;
}
.popup-confirm-text {
	display: flex;
	justify-content: center;
	align-items: center;
    text-align: center;
	font-size: 25px;
	flex-shrink: 0;
}
.popup-confirm-space {
	flex: 1 1 auto;
}
.popup-confirm-buttons {
	display: flex;
	flex-shrink: 0;
	margin-top: 30px;
}
.popup-confirm-yes, .popup-confirm-no {
	height: 2em;
	font-size: x-large;
	border: 1px solid gray;
	margin-right: -1px;
	text-decoration-skip-ink: none;
}
.popup-confirm-yes {
	flex-grow: 1;
	background-color: wheat;
}
.popup-confirm-no {
	flex-grow: 3;
	background-color: #a5ff73;
}

.popup-confirm-buttons button:hover, .popup-confirm-buttons button:focus {
	text-decoration: underline;
}
.sender-copybutton {
	display: inline;
}

@keyframes spinner-line-fade-quick {
    0%, 39%, 100% {
      opacity: 0.25;
    }
    40% {
      opacity: 1;
    }
}
.spinner {
    position: absolute;
    width: 0px;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: scale(0.9);
	--trx--: 45px
}
.spinner > div {
    position: absolute;
    top: -8.5px;
    width: 55px;
    height: 17px;
    background: transparent;
    border-radius: 8.5px;
    transform-origin: left center;
}
.spinner > div > div {
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    border-radius: 8.5px;
    box-shadow: gray 0px 0px 10px;
	animation: 1s linear -1s infinite normal none running spinner-line-fade-quick;
}